<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cermep test</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/style.css">
</head>
<body>

<div class="container">

    <div id="BandeauLogo" class="d-flex justify-content-between">
        <div class="rectLogoCermep">
            <img src="/assets/img/logo-cermep.png" style="width: 300px;" alt="logo">
        </div>

        <div class="">
            <div id="form-rechercher">
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Rechercher" aria-label="Search">
                    <button class="btn btn-outline-dark" type="submit">OK</button>
                </form>
            </div>
            <div id="list-Accueil" class="mt-2">
                <ul class="list-group list-group-horizontal">
                    <li class="list-group-item">Acceuil</li>
                    <li class="list-group-item">Plan du site</li>
                    <li class="list-group-item">Plan d'accès</li>
                    <li class="list-group-item">Ajouter des favoris</li>
                    <li class="list-group-item">FAQ</li>
                </ul>
            </div>
        </div>


    </div>

    <div id="bandeauImage" class="bandeauImage">
        <div class="imgExplorer"></div>
    </div>

    <div id="Navbar" class="">
        <div class="row gx-0">

            <div class="col-2">
                <p class="py-2 border bg-light text-center">Missions/Organisation</p>
            </div>
            <div class="col-2">
                <p class="py-2 border bg-light text-center">Plateaux techniques</p>
            </div>
            <div class="col-2">
                <p class="py-2 border bg-light text-center">Annuaires</p>
            </div>
            <div class="col-2">
                <p class="py-2 border bg-light text-center">Vous êtes ...</p>
            </div>
            <div class="col-2">
                <p class="py-2 border bg-light text-center">Téléchargements</p>
            </div>
            <div class="col-2">
                <p class="py-2 border bg-light text-center">Bibliographie</p>
            </div>

        </div>
    </div>

    <div id="contenu" class="rect-contenu">
        <div class="row gx-0">
            <div class="col-3 bg-light">
                <div class="d-flex flex-column">

                    <div class="card me-4">
                        <img src="/assets/img/cermep-presentation.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Le CERMEP est un GIE regroupant le CNRS, l'INSERM, les Hospices Civils de Lyon et l'Université Claude Bernard-Lyon1.</p>
                        </div>
                    </div>

                    <div class="card my-5 me-4">
                        <form>
                            <h3 class="m-3">Identification</h3>
                            <div class="m-3">
                                <label for="exampleInputEmail1" class="form-label">Utilisateur</label>
                                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                            </div>
                            <div class="m-3">
                                <label for="exampleInputPassword1" class="form-label">Mot de passe</label>
                                <input type="password" class="form-control" id="exampleInputPassword1">
                            </div>
                            <button type="submit" class="btn btn-primary m-3">Submit</button>
                            <div>
                                <a href="#" class="m-3 py-3">Mot de passe perdu ?</a>
                            </div>

                        </form>
                    </div>

                </div>
            </div>
            <div class="col bg-light">
                <p>Vous êtes ici : Acceuil</p>
                <div class="row">
                    <div class="col-4">
                        <div class="d-flex flex-column">
                            <h3 class="bg-light">Imageries</h3>

                            <div class="imgTEP"></div>
                            <div class="imgTEP"></div>
                            <div class="imgTEP"></div>
                            <div class="imgTEP"></div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="d-flex flex-column">
                            <h3 class="bg-light">A la une</h3>

                            <div class="card mb-3" style="max-width: 540px;">
                                <div class="row g-0">
                                    <div class="col-md-4">
                                        <img src="/assets/img/logo-cermep.png" class="img-fluid rounded-start" alt="...">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title">Le Mot du Directeur</h5>
                                            <p class="card-text">Le CERMEP est une plateforme d’imagerie in vivo préclinique et clinique ouverte aux praticiens et chercheurs du monde académique et industriel.</p>
                                            <a class="" href="#">lire la suite...</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card mb-3" style="max-width: 540px;">
                                <div class="row g-0">
                                    <div class="col-md-4">
                                        <img src="/assets/img/logo-cermep.png" class="img-fluid rounded-start" alt="...">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title">Le Mot du Directeur</h5>
                                            <p class="card-text">Le CERMEP est une plateforme d’imagerie in vivo préclinique et clinique ouverte aux praticiens et chercheurs du monde académique et industriel.</p>
                                            <a class="" href="#">lire la suite...</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card mb-3" style="max-width: 540px;">
                                <div class="row g-0">
                                    <div class="col-md-4">
                                        <img src="/assets/img/logo-cermep.png" class="img-fluid rounded-start" alt="...">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title">Le Mot du Directeur</h5>
                                            <p class="card-text">Le CERMEP est une plateforme d’imagerie in vivo préclinique et clinique ouverte aux praticiens et chercheurs du monde académique et industriel.</p>
                                            <a class="" href="#">lire la suite...</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card mb-3" style="max-width: 540px;">
                                <div class="row g-0">
                                    <div class="col-md-4">
                                        <img src="/assets/img/logo-cermep.png" class="img-fluid rounded-start" alt="...">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title">Le Mot du Directeur</h5>
                                            <p class="card-text">Le CERMEP est une plateforme d’imagerie in vivo préclinique et clinique ouverte aux praticiens et chercheurs du monde académique et industriel.</p>
                                            <a class="" href="#">lire la suite...</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>




</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="/assets/main.js"></script>
</html>